
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
color: #333;
}
.nav-menu {
  padding-top:  60px;
  position: relative;
}
.radio{
  display: none;
}
.nav-menu__item-name {
  padding-left: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
}





.nav-menu__item-selector {
  position: absolute;
  height: 24px;
  left: 0;
  display: none;
  width: 3px;
  background-color: #34abe0;
  transition: .3s;
}

.div-block-4 {
  margin-left: 240px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 333;
  padding: 40px 0;
  background-color: #fff;
}

.content-block {
  padding: 40px 0 100px;
  background-color: #fafafa;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 11vw;
  min-height: 161px;
  padding: 16px 20px;
  border-radius: 13px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
 .card::before {
  content: '';
   box-sizing: border-box;
  position: absolute;
  background: #fafafa;
  left: -6px; bottom: 45%;
   border-radius: 1px;
  width: 10px; height: 10px;
  box-shadow:inset  0 2px 6px 0 rgba(0, 0, 0, 0.15) ;
  -webkit-transform: rotate(45deg);
   transform: matrix(0, -1, -1, 0, 0, 0) rotate(45deg);
}
.card::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  background: #fafafa;
  right: -6px; bottom: 45%;
  border-radius: 1px;
  width: 10px; height: 10px;
  box-shadow:inset  -2px 0 6px 0 rgba(0, 0, 0, 0.15) ;
  -webkit-transform: rotate(45deg);
  transform: matrix(0, -1, -1, 0, 0, 0) rotate(45deg);
}
.card:hover::after{
  border-right:solid 1px #df212d;
  border-bottom:solid 1px #df212d;
}
.card:hover::before{
  border-left:solid 1px #df212d;
  border-top:solid 1px #df212d;
}


.card:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #df212d;
  clip-path: polygon(100% 0, 100% 48%, 99% 51.5%, 100% 55%, 100% 100%, 0 100%, 0 55%, 1% 51.5%, 0 48%, 0 0);
}

.content-block__grid-wrapper {
  /*width: 90%;*/
  /*margin: 0 auto;*/
  /*display: -ms-grid;*/
  /*display: grid;*/
  /*grid-column-gap: 20px;*/
  /*grid-row-gap: 20px;*/
  /*-ms-grid-columns: 1fr 1fr 1fr;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  /*-ms-grid-rows: auto;*/
  /*grid-template-rows: auto;*/
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;

}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
}

.logo__text {
  margin: auto 0 auto 10px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.header__content-wrapper {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__heading {
  margin-bottom:30px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
}

.header__search-input {
  height: 52px;
  padding: 0 16px 0 44px;
  border-width: 1px;
  border-color: rgba(51, 51, 51, 0.2);
  border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.45);
  font-size: 18px;
  line-height: 28px;
  background-image: url(../img/search.svg);
  background-size: 20px 20px;
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

.card__place-name {
  margin-bottom: 4px;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.card__bonus-description {
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.card__content {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__bonus-content {
  margin-bottom: 6px;
  font-family: Roboto, sans-serif;
  color: #df212d;
  font-size: 36px;
  line-height: 78%;
  font-weight: 500;
  text-transform: uppercase;
}

.card__image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
}

.card__bonus-type {
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}


.nav-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding-left: 40px;
}

.nav-menu__item:hover .nav-menu__item-name {
  color: #34abe0;
}
.nav-menu__item:hover .nav-menu__icon {
  stroke: #34abe0;
}
.nav-menu__item.active .nav-menu__item-name {
  color: #34abe0;
}
.nav-menu__item.active .nav-menu__icon {
  stroke: #34abe0;
}

.nav-menu__icon {
  width: 24px;
  height: 24px;
  stroke: black;
  transition: .3s;
}
.sidebar__ledge {
  display: none;
}

.sidebar {
  position: fixed;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 100%;
  padding-top: 41px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f3f4f9;
  transition: 450ms ease;
}

.sidebar__menu-button {
  display: none;
}

@media screen and (max-width: 991px) {
  .menu-toggle:checked ~ .sidebar{
    width: 246px;
  }
  .menu-toggle:checked ~ .div-block-4{
    margin-left: 246px;
  }
  .menu-toggle:checked ~.sidebar .logo__text,
  .menu-toggle:checked ~.sidebar .nav-menu__item-name{
    visibility:visible;
    opacity:1;
    transition-delay:0s;
  }

/*-----------------------*/

  path {
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 26;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .sidebar__menu-button svg {
  position: absolute;
  top: -34px;
  left: -33px;
  }
  .menu-toggle:checked ~.sidebar .sidebar__menu-button svg .line--1,
  .menu-toggle:checked ~.sidebar .sidebar__menu-button svg .line--3 {
  --length: 22.627417;
}
  .menu-toggle:checked ~.sidebar .sidebar__menu-button svg .line--2 {
  --length: 0;
}
.line--1,
.line--3 {
  --total-length: 126.64183044;
}
.line--2 {
  --total-length: 70;
}
  .menu-toggle:checked ~.sidebar .sidebar__menu-button svg .line--1,
  .menu-toggle:checked ~.sidebar .sidebar__menu-button svg .line--3 {
  --offset: -94.11491851;
}
  .menu-toggle:checked ~.sidebar .sidebar__menu-button svg .line--2 {
  --offset: -50;
}



/*---------------------------*/

  .nav-menu__item-name {
    visibility:hidden;
    opacity:0;
    transition:visibility linear 0.2s,opacity 0.2s linear;
  }

  .div-block-4 {
    margin-left: 104px;
    -webkit-transition: 450ms ease;
    transition: 450ms ease;
  }
  .header {
    padding: 27px 0;
    transition: all .3s ease;
  }
  .header_shifted {
    padding-left: 47px;
    /*transform: translateY(0);*/
  }
  .card {
    height: 18vw;
    min-height: 144px;
  }

  .content-block__grid-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .logo__text {
    visibility:hidden;
    opacity:0;
    transition:visibility linear 0.2s,opacity 0.2s linear;
  }

  .logo__image {
    width: 24px;
  }

  .header__heading {
    margin-top: 4px;
    margin-bottom: 33px;
    text-align: right;
  }

  .card__place-name {
    font-size: 14px;
  }

  .card__bonus-description {
    font-size: 14px;
  }

  .sidebar__ledge {
    position: absolute;
    top: 0;
    right: -47px;
    display: block;
  }

  .sidebar {
    width: 104px;
  }

  .sidebar__menu-button {
    position: absolute;
    top: 43px;
    right: -31px;
    display: block;
    cursor: pointer;
    width: 26px;
    height: 20px;
    z-index: 999;
  }
}

@media screen and (max-width: 767px) {
  .menu-toggle:checked ~ .div-block-4{
    margin-left: 12px;
  }

  .nav-menu__item-name {
    padding-left: 0;
  }

  .nav-menu__item {
    padding-left: 20px;
  }

  .div-block-4 {
    margin-left: 12px;
  }

  .card {
    min-height: 130px;
  }

  .logo {
    padding-left: 20px;
  }

  .header__heading {
    margin-top: 10px;
    font-size: 24px;
    line-height: 32px;
  }

  .header__search-input {
    font-size: 14px;
  }

  .card__place-name {
    font-size: 12px;
  }

  .card__bonus-description {
    font-size: 12px;
  }

  .card__bonus-content {
    font-size: 28px;
    line-height: 24px;
  }

  .card__bonus-type {
    font-size: 12px;
  }

  .sidebar {
    width: 12px;
  }

  .nav-menu__icon {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .menu-toggle:checked ~ .sidebar{
    width: 192px;
  }

  .card {
    height: 35vw;
  }

  .content-block__grid-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header__heading {
    margin-bottom: 21px;
  }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

